section {
  margin: 4rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
  min-height: 80vh;
  width: calc(100vw - 3rem);
  /*background-color: cornflowerblue;*/
}

.scrolling-window {
  margin: 2em;
  height: 50vh;
  overflow-y: scroll;
  border: 0.1em solid black;
}

.basket-scrolling-container {
  width: 100%;
}

.basket-bottom-container {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.basket-bottom-price {
  width: 10%;
  height: 100%;
  margin-right: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: lightblue; */
}

/* Responsive Web Design */

@media screen and (max-width: 1000px) {
  section {
    padding: 0.5rem;
  }

  .scrolling-window {
    margin: 0.5em;
    height: 60vh;
  }

  .basket-bottom-price {
    width: 25%;
  }
}