.header-container {
  width: 100vw;
  height: 7vh;
  border-bottom: 0.1rem solid black;
  /* background-color: red; */
  background-color: rgb(235, 235, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  margin-right: 2%;
  width: 40%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-around
}

@media screen and (max-width: 1000px) {
  .nav-container {
    width: 60%;
  }
}
