.categories-container {
  width: 200px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.categories-hover-container {
  background-color: red;
  cursor: pointer;
  z-index: 1000;
}

.categories-dropdown-container {
  background-color: purple;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.categories-dropdown-container.visible {
  transform: translateY(0);
}