.product-card-container {
  width: 300px;
  height: 200px;
  border-radius: 2px;
  /* background-color: green; */
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
}

.product-card-name,
.product-card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  /* background-color: aqua; */
}

.product-card-picture {
  /* background-color:chocolate; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-picture img {
  width: 95%;
  height: 95%;
}

.product-card-bottom {
  padding: 0.1em;
  /* background-color:cyan; */
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr;
  column-gap: 0.5em;
  position: relative;
}

.product-card-price {
  /* background-color: lightblue; */
}

.product-card-in-basket,
.product-card-out-of-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
}

.product-card-in-basket {
  border: 3px solid green;
}

.product-card-out-of-stock {
  color: white;
  background-color: red;
}

.product-card-purchase-successful {
  position: absolute;
  bottom: -100%;
  right: 0;
}

/* Light and Dark Theme classes*/
.product-card-container-light-theme {
  border: 2px solid black;
}

.product-card-container-dark-theme {
  border: 2px solid white;
}

/* Responsive Web Design */
@media screen and (max-width: 640px) {
  .product-card-container {
    width: 85%;
    height: auto;
    grid-template-rows: 1fr 5fr 2fr;
  }

  .product-card-purchase-successful {
    bottom: -130%;
  }
}