main {
  margin: 80px 10px 10px 10px;
  padding: 10px;
  min-height: 80vh;
  width: calc(100vw - 40px);
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  justify-items: center;
}

/* Responsive Web Design */

@media screen and (max-width: 1650px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}