main {
  margin: 4rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  min-height: 80vh;
  width: calc(100vw - 2rem);
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3rem;
  justify-items: center;
}

/* Responsive Web Design */
@media screen and (max-width: 1650px) {
  .product-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  .product-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .product-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .product-grid-container {
    font-size: 0.6rem;
    row-gap: 1rem;
  }
}