main {
  margin: 5em 1em 1em 1em;
  padding: 1em;
  min-height: 80vh;
  width: calc(100vw - 2em);
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3em;
  justify-items: center;
}

/* Responsive Web Design */

@media screen and (max-width: 1650px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}