.nav-section-products-button {
  width: 40%;
  height: 75%;
  color: white;
}

.basket-section-remove-button {
  width: calc(100% - 10px);
  height: 50%;
}

.basket-section-purchase-button {
  margin-left: 2em;
}