.nav-section-products-button {
  width: 40%;
  height: 75%;
  font-size: 1.5rem !important;
}

.basket-section-purchase-button {
  margin-left: 2%;
}

/* Responsive Web Design */

@media screen and (max-width: 640px) {
  .nav-section-products-button {
    font-size: 1em !important;
  }
  .product-section-add-button {
    font-size: 0.75em !important;
  }
}