/* This file contains general CSS for the whole page */

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  
}


/* Light and Dark Theme classes for the body */
body {
  color: black;
  background-color: var(--color-light);
}

.body-dark-theme {
  color: white;
  background-color: var(--color-dark);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}